
#big-ass-div{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 75%;
    background-color: #B3EFB2;
    overflow: hidden;
    align-content: center;
    border-radius: 50px;
    border: solid;
    border-width: 15px;
    border-color: #719971;
}

img{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    
}
input{
    width: 40%;
    height: 35px;
    margin-top: 50px;
    font-size: 20px;
    color:dimgray;
    
}
button{
   margin-left: auto;   
    margin-right: auto;
    
     margin-top:35px;
    min-width: 10px;
    min-height: 50px;
    background-color: #7A9E7E;
    
    border: none;
    text-decoration: none;
    color: #DCE8E4;
  
    box-shadow: 0 6px #DCE8E4;
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
    transition: box-shadow .2s linear; 
    transition: transform .3s linear;
}
button:hover{
    box-shadow: 0 4px #DCE8E4;
    transform: translateY(2px);
    transition: box-shadow .2s linear;
    transition: transform .2s linear;
    cursor: pointer;
}
button:active{
    box-shadow: 0 0px #B7222C;
    transform: translateY(4px);
    transition: box-shadow .2s linear;
    transition: transform .2s linear;
}

p{
    visibility: hidden;
    
    margin-top: 180px;
    font-size: 160px;
}

body{
   
    width: 1000px;
    height: 1000px;
    padding: 40px;
    color: #DCE8E4;
     background-color: #31493C;
    text-align: center;
    display: inline;
}